= form_for @category, html: {class: 'pure-form pure-form-aligned'} do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .pure-control-group
      .field
        = f.label :name
        = f.text_field :name

    .pure-control-group
      .field
        = f.label :disabled
        = f.check_box :disabled

    .pure-control-group
      .field
        = f.label :urlname
        = "#{@_request.host_with_port}/on/"
        = f.text_field :urlname

    .pure-control-group
      .field
        = f.label :get_rating
        = f.check_box :get_rating

    .pure-control-group
      .field
        = f.label :get_details
        = f.check_box :get_details

    //.pure-control-group
    //  .field
    //    = f.label :destinations
    //    = f.text_field :destinations

    .pure-controls
      .actions
        = f.submit 'Save', class: 'pure-button pure-button-primary'
